@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #3AA9E3;
}

.inner {
  padding-top: 20px;
}

h1 {
  justify-content: center;
  color: whitesmoke;
  font-weight: 700;
}

h1 a {
  color: #03045E;
}
